## Analyzing a Movie Dataset

### Getting general information about the dataset

In [95]:
# Loading the dataset
import pandas as pd
import numpy as np

movies_df = pd.read_csv("imdb_top_1000.csv")

# Print first few rows of the dataset
movies_df.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

In [96]:
# find the row by column
movies_df.shape

(1000, 16)

In [97]:
movies_df.size

16000

In [98]:
# Summary statistics of numerical columns
movies_df.describe()
# for this dataset, it doesn't tell me too much

       IMDB_Rating  Meta_score   No_of_Votes
count  1000.000000  843.000000  1.000000e+03
mean      7.949300   77.971530  2.736929e+05
std       0.275491   12.376099  3.273727e+05
min       7.600000   28.000000  2.508800e+04
25%       7.700000   70.000000  5.552625e+04
50%       7.900000   79.000000  1.385485e+05
75%       8.100000   87.000000  3.741612e+05
max       9.300000  100.000000  2.343110e+06

In [99]:
# Get general information about the dataframe
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Series_Title   1000 non-null   object
 2   Released_Year  1000 non-null   object
 3   Certificate    899 non-null    object
 4   Runtime        1000 non-null   object
 5   Genre          1000 non-null   object
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   object
 8   Meta_score     843 non-null    float64
 9   Director       1000 non-null   object
 10  Star1          1000 non-null   object
 11  Star2          1000 non-null   object
 12  Star3          1000 non-null   object
 13  Star4          1000 non-null   object
 14  No_of_Votes    1000 non-null   int64
 15  Gross          831 non-null    object
dtypes: float64(2), int64(1), object(13)
memory usage: 125.1+ KB

In [100]:
movies_df.set_index('Series_Title', inplace=True) # Change index to be Title column
movies_df.head(4)

,Poster_Link,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
Series_Title,,,,,,,,,,,,,,,
The Shawshank Redemption,https://m.media-amazon.com/images/M/MV5BMDFkYT...,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
The Godfather,https://m.media-amazon.com/images/M/MV5BM2MyNj...,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
The Dark Knight,https://m.media-amazon.com/images/M/MV5BMTMxNT...,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
The Godfather: Part II,https://m.media-amazon.com/images/M/MV5BMWMwMG...,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"

In [101]:
movies_df.tail(10)

,Poster_Link,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
Series_Title,,,,,,,,,,,,,,,
Giù la testa,https://m.media-amazon.com/images/M/MV5BYjRmY2...,1971,PG,157 min,"Drama, War, Western",7.6,A low-life bandit and an I.R.A. explosives exp...,77.0,Sergio Leone,Rod Steiger,James Coburn,Romolo Valli,Maria Monti,30144,"696,690"
Kelly's Heroes,https://m.media-amazon.com/images/M/MV5BMzAyND...,1970,GP,144 min,"Adventure, Comedy, War",7.6,A group of U.S. soldiers sneaks across enemy l...,50.0,Brian G. Hutton,Clint Eastwood,Telly Savalas,Don Rickles,Carroll O'Connor,45338,"1,378,435"
The Jungle Book,https://m.media-amazon.com/images/M/MV5BMjAwMT...,1967,U,78 min,"Animation, Adventure, Family",7.6,Bagheera the Panther and Baloo the Bear have a...,65.0,Wolfgang Reitherman,Phil Harris,Sebastian Cabot,Louis Prima,Bruce Reitherman,166409,"141,843,612"
Blowup,https://m.media-amazon.com/images/M/MV5BYTE4YW...,1966,A,111 min,"Drama, Mystery, Thriller",7.6,A fashion photographer unknowingly captures a ...,82.0,Michelangelo Antonioni,David Hemmings,Vanessa Redgrave,Sarah Miles,John Castle,56513,NaN
A Hard Day's Night,https://m.media-amazon.com/images/M/MV5BZjQyMG...,1964,U,87 min,"Comedy, Music, Musical",7.6,"Over two ""typical"" days in the life of The Bea...",96.0,Richard Lester,John Lennon,Paul McCartney,George Harrison,Ringo Starr,40351,"13,780,024"
Breakfast at Tiffany's,https://m.media-amazon.com/images/M/MV5BNGEwMT...,1961,A,115 min,"Comedy, Drama, Romance",7.6,A young New York socialite becomes interested ...,76.0,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen,166544,NaN
Giant,https://m.media-amazon.com/images/M/MV5BODk3Yj...,1956,G,201 min,"Drama, Western",7.6,Sprawling epic covering the life of a Texas ca...,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,34075,NaN
From Here to Eternity,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,1953,Passed,118 min,"Drama, Romance, War",7.6,"In Hawaii in 1941, a private is cruelly punish...",85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,"30,500,000"
Lifeboat,https://m.media-amazon.com/images/M/MV5BZTBmMj...,1944,NaN,97 min,"Drama, War",7.6,Several survivors of a torpedoed merchant ship...,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471,NaN
The 39 Steps,https://m.media-amazon.com/images/M/MV5BMTY5OD...,1935,NaN,86 min,"Crime, Mystery, Thriller",7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,NaN

### Cleaning up the dataset
* adding columns before analysis
* removing rows
* cleaning up strings
* converting data types

In [102]:
# Add a 'Rank' column
movies_df['Rank'] = range(1, len(movies_df) + 1)
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, The Shawshank Redemption to The 39 Steps
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Released_Year  1000 non-null   object
 2   Certificate    899 non-null    object
 3   Runtime        1000 non-null   object
 4   Genre          1000 non-null   object
 5   IMDB_Rating    1000 non-null   float64
 6   Overview       1000 non-null   object
 7   Meta_score     843 non-null    float64
 8   Director       1000 non-null   object
 9   Star1          1000 non-null   object
 10  Star2          1000 non-null   object
 11  Star3          1000 non-null   object
 12  Star4          1000 non-null   object
 13  No_of_Votes    1000 non-null   int64
 14  Gross          831 non-null    object
 15  Rank           1000 non-null   int64
dtypes: float64(2), int64(2), object(12)
memory usage: 132.8+ KB

In [103]:
# get list of column names
new_columns = list(movies_df.columns)
# remove the 'Rank' column from the list
new_columns.remove('Rank')
# insert 'Rank' column at specified index
new_columns.insert(0, 'Rank')
# Reorder the DataFrame Columns
movies_df = movies_df[new_columns]
# Check DataFrame info
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, The Shawshank Redemption to The 39 Steps
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rank           1000 non-null   int64
 1   Poster_Link    1000 non-null   object
 2   Released_Year  1000 non-null   object
 3   Certificate    899 non-null    object
 4   Runtime        1000 non-null   object
 5   Genre          1000 non-null   object
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   object
 8   Meta_score     843 non-null    float64
 9   Director       1000 non-null   object
 10  Star1          1000 non-null   object
 11  Star2          1000 non-null   object
 12  Star3          1000 non-null   object
 13  Star4          1000 non-null   object
 14  No_of_Votes    1000 non-null   int64
 15  Gross          831 non-null    object
dtypes: float64(2), int64(2), object(12)
memory usage: 132.8+ KB

In [104]:
# Sorting the data by ratings
movies_df = movies_df.sort_values(by='IMDB_Rating', ascending=False)

movies_df.reset_index(inplace=True)

movies_df.set_index('Rank', inplace=True)

movies_df

,Series_Title,Poster_Link,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
Rank,,,,,,,,,,,,,,,,
1,The Shawshank Redemption,https://m.media-amazon.com/images/M/MV5BMDFkYT...,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
2,The Godfather,https://m.media-amazon.com/images/M/MV5BM2MyNj...,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
3,The Dark Knight,https://m.media-amazon.com/images/M/MV5BMTMxNT...,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
4,The Godfather: Part II,https://m.media-amazon.com/images/M/MV5BMWMwMG...,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
5,12 Angry Men,https://m.media-amazon.com/images/M/MV5BMWU4N2...,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,Zombieland,https://m.media-amazon.com/images/M/MV5BMTU5MD...,2009,A,88 min,"Adventure, Comedy, Fantasy",7.6,A shy student trying to reach his family in Oh...,73.0,Ruben Fleischer,Jesse Eisenberg,Emma Stone,Woody Harrelson,Abigail Breslin,520041,"75,590,286"
912,La piel que habito,https://m.media-amazon.com/images/M/MV5BYmFmNj...,2011,R,120 min,"Drama, Horror, Thriller",7.6,"A brilliant plastic surgeon, haunted by past t...",70.0,Pedro Almodóvar,Antonio Banderas,Elena Anaya,Jan Cornet,Marisa Paredes,138959,"3,185,812"
911,Moneyball,https://m.media-amazon.com/images/M/MV5BMjAxOT...,2011,PG-13,133 min,"Biography, Drama, Sport",7.6,Oakland A's general manager Billy Beane's succ...,87.0,Bennett Miller,Brad Pitt,Robin Wright,Jonah Hill,Philip Seymour Hoffman,369529,"75,605,492"
910,Celda 211,https://m.media-amazon.com/images/M/MV5BMjI2OD...,2009,NaN,113 min,"Action, Adventure, Crime",7.6,The story of two men on different sides of a p...,NaN,Daniel Monzón,Luis Tosar,Alberto Ammann,Antonio Resines,Manuel Morón,63882,NaN
1000,The 39 Steps,https://m.media-amazon.com/images/M/MV5BMTY5OD...,1935,NaN,86 min,"Crime, Mystery, Thriller",7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,NaN

In [105]:
movies_df.sort_index().head()

,Series_Title,Poster_Link,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
Rank,,,,,,,,,,,,,,,,
1,The Shawshank Redemption,https://m.media-amazon.com/images/M/MV5BMDFkYT...,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
2,The Godfather,https://m.media-amazon.com/images/M/MV5BM2MyNj...,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
3,The Dark Knight,https://m.media-amazon.com/images/M/MV5BMTMxNT...,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
4,The Godfather: Part II,https://m.media-amazon.com/images/M/MV5BMWMwMG...,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
5,12 Angry Men,https://m.media-amazon.com/images/M/MV5BMWU4N2...,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

In [106]:
# Handling missing data
print(movies_df.isnull().sum())

Series_Title       0
Poster_Link        0
Released_Year      0
Certificate      101
Runtime            0
Genre              0
IMDB_Rating        0
Overview           0
Meta_score       157
Director           0
Star1              0
Star2              0
Star3              0
Star4              0
No_of_Votes        0
Gross            169
dtype: int64

In [107]:
# drop unused columns
movies_df.drop(['Certificate', 'Poster_Link'], axis=1, inplace=True)
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 1 to 1000
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   1000 non-null   object
 1   Released_Year  1000 non-null   object
 2   Runtime        1000 non-null   object
 3   Genre          1000 non-null   object
 4   IMDB_Rating    1000 non-null   float64
 5   Overview       1000 non-null   object
 6   Meta_score     843 non-null    float64
 7   Director       1000 non-null   object
 8   Star1          1000 non-null   object
 9   Star2          1000 non-null   object
 10  Star3          1000 non-null   object
 11  Star4          1000 non-null   object
 12  No_of_Votes    1000 non-null   int64
 13  Gross          831 non-null    object
dtypes: float64(2), int64(1), object(11)
memory usage: 117.2+ KB

In [108]:
#movies_df.fillna(0)
#print(movies_df.isna().sum())
#lets remove rows with null data
movies_df.dropna(inplace=True)
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 750 entries, 1 to 911
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   750 non-null    object
 1   Released_Year  750 non-null    object
 2   Runtime        750 non-null    object
 3   Genre          750 non-null    object
 4   IMDB_Rating    750 non-null    float64
 5   Overview       750 non-null    object
 6   Meta_score     750 non-null    float64
 7   Director       750 non-null    object
 8   Star1          750 non-null    object
 9   Star2          750 non-null    object
 10  Star3          750 non-null    object
 11  Star4          750 non-null    object
 12  No_of_Votes    750 non-null    int64
 13  Gross          750 non-null    object
dtypes: float64(2), int64(1), object(11)
memory usage: 87.9+ KB

In [109]:
# determine if there is any duplicated data
sum(movies_df.duplicated())

0

In [110]:
# clean up the strings in Gross column for converting to numerical values
movies_df['Gross'] = movies_df['Gross'].replace(r'[\$,]', '', regex=True).str.strip()
display(movies_df.head(3)) # check that Gross column has changed
movies_df['Gross'] = pd.to_numeric(movies_df['Gross'])
movies_df.info()

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
Rank,,,,,,,,,,,,,,
1,The Shawshank Redemption,1994,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,28341469
2,The Godfather,1972,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,134966411
3,The Dark Knight,2008,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,534858444

<class 'pandas.core.frame.DataFrame'>
Index: 750 entries, 1 to 911
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   750 non-null    object
 1   Released_Year  750 non-null    object
 2   Runtime        750 non-null    object
 3   Genre          750 non-null    object
 4   IMDB_Rating    750 non-null    float64
 5   Overview       750 non-null    object
 6   Meta_score     750 non-null    float64
 7   Director       750 non-null    object
 8   Star1          750 non-null    object
 9   Star2          750 non-null    object
 10  Star3          750 non-null    object
 11  Star4          750 non-null    object
 12  No_of_Votes    750 non-null    int64
 13  Gross          750 non-null    int64
dtypes: float64(2), int64(2), object(10)
memory usage: 87.9+ KB

In [111]:
movies_df['Runtime'] = movies_df['Runtime'].str.replace(' min', '')
# Convert the 'Runtime' column to numeric type
movies_df['Runtime'] = pd.to_numeric(movies_df['Runtime'])
display(movies_df.head())
print(f"Data type for 'Runtime' is: {movies_df['Runtime'].dtype}") # checking runtime datatype

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
Rank,,,,,,,,,,,,,,
1,The Shawshank Redemption,1994,142,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,28341469
2,The Godfather,1972,175,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,134966411
3,The Dark Knight,2008,152,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,534858444
4,The Godfather: Part II,1974,202,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,57300000
5,12 Angry Men,1957,96,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,4360000

Data type for 'Runtime' is: int64

In [112]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 750 entries, 1 to 911
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   750 non-null    object
 1   Released_Year  750 non-null    object
 2   Runtime        750 non-null    int64
 3   Genre          750 non-null    object
 4   IMDB_Rating    750 non-null    float64
 5   Overview       750 non-null    object
 6   Meta_score     750 non-null    float64
 7   Director       750 non-null    object
 8   Star1          750 non-null    object
 9   Star2          750 non-null    object
 10  Star3          750 non-null    object
 11  Star4          750 non-null    object
 12  No_of_Votes    750 non-null    int64
 13  Gross          750 non-null    int64
dtypes: float64(2), int64(3), object(9)
memory usage: 87.9+ KB

In [113]:
# drop rows with missing gross data
#movies_df.dropna(subset=['Gross'], inplace=True)
#movies_df

In [114]:
# Create a mask to identify rows with valid years (to remove rows with invalid year values)
valid_year_mask = movies_df['Released_Year'].str.match(r'^\d{4}$')

# Filter out rows with invalid years
movies_df = movies_df.loc[valid_year_mask].copy()

# Convert 'Released_Year' to datetime
movies_df['Released_Year'] = pd.to_datetime(movies_df['Released_Year'] + '-01-01')

# Print the updated DataFrame
display(movies_df.head(2))

# Replace dates with just the year value
movies_df['Released_Year'] = movies_df['Released_Year'].dt.year
display(movies_df.head(2))

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
Rank,,,,,,,,,,,,,,
1,The Shawshank Redemption,1994-01-01,142,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,28341469
2,The Godfather,1972-01-01,175,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,134966411

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
Rank,,,,,,,,,,,,,,
1,The Shawshank Redemption,1994,142,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,28341469
2,The Godfather,1972,175,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,134966411

In [115]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 749 entries, 1 to 911
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   749 non-null    object
 1   Released_Year  749 non-null    int32
 2   Runtime        749 non-null    int64
 3   Genre          749 non-null    object
 4   IMDB_Rating    749 non-null    float64
 5   Overview       749 non-null    object
 6   Meta_score     749 non-null    float64
 7   Director       749 non-null    object
 8   Star1          749 non-null    object
 9   Star2          749 non-null    object
 10  Star3          749 non-null    object
 11  Star4          749 non-null    object
 12  No_of_Votes    749 non-null    int64
 13  Gross          749 non-null    int64
dtypes: float64(2), int32(1), int64(3), object(8)
memory usage: 84.8+ KB

In [116]:
# String cleaning
movies_df['Genre'] = movies_df['Genre'].str.strip().str.lower()
print(movies_df['Genre'].head())

Rank
1                   drama
2            crime, drama
3    action, crime, drama
4            crime, drama
5            crime, drama
Name: Genre, dtype: object

In [117]:

# Sorting the data by ratings
movies_df = movies_df.sort_values(by='IMDB_Rating', ascending=False)

# Resetting the index
movies_df.reset_index(drop=True, inplace=True)

# Updating the 'Rank' column
movies_df['Rank'] = movies_df.index + 1

# Setting the 'Rank' column as the index
movies_df.set_index('Rank', inplace=True)
movies_df.head()

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
Rank,,,,,,,,,,,,,,
1,The Shawshank Redemption,1994,142,drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,28341469
2,The Godfather,1972,175,"crime, drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,134966411
3,The Dark Knight,2008,152,"action, crime, drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,534858444
4,The Godfather: Part II,1974,202,"crime, drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,57300000
5,12 Angry Men,1957,96,"crime, drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,4360000

In [118]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 749 entries, 1 to 749
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   749 non-null    object
 1   Released_Year  749 non-null    int32
 2   Runtime        749 non-null    int64
 3   Genre          749 non-null    object
 4   IMDB_Rating    749 non-null    float64
 5   Overview       749 non-null    object
 6   Meta_score     749 non-null    float64
 7   Director       749 non-null    object
 8   Star1          749 non-null    object
 9   Star2          749 non-null    object
 10  Star3          749 non-null    object
 11  Star4          749 non-null    object
 12  No_of_Votes    749 non-null    int64
 13  Gross          749 non-null    int64
dtypes: float64(2), int32(1), int64(3), object(8)
memory usage: 84.8+ KB

### Analyzing the data

In [119]:
# Get genre count of top 5 most common genre
movies_df['Genre'].value_counts().head(5)

Genre
drama                     66
drama, romance            27
comedy, drama             27
crime, drama, thriller    24
crime, drama              21
Name: count, dtype: int64

In [120]:
# movies with highest votes
# Sort the DataFrame by 'No of Votes' column in descending order
movies_sorted_by_votes = movies_df.sort_values(by='No_of_Votes', ascending=False)

# Get the top 5 movies with the most votes
top_movies_by_votes = movies_sorted_by_votes.head(5)

# Print the top movies with the most votes
print("Top 5 movies with the most votes:")
display(top_movies_by_votes)

Top 5 movies with the most votes:

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
Rank,,,,,,,,,,,,,,
1,The Shawshank Redemption,1994,142,drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,28341469
3,The Dark Knight,2008,152,"action, crime, drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,534858444
10,Inception,2010,148,"action, adventure, sci-fi",8.8,A thief who steals corporate secrets through t...,74.0,Christopher Nolan,Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,Ken Watanabe,2067042,292576195
11,Fight Club,1999,139,drama,8.8,An insomniac office worker and a devil-may-car...,66.0,David Fincher,Brad Pitt,Edward Norton,Meat Loaf,Zach Grenier,1854740,37030102
7,Pulp Fiction,1994,154,"crime, drama",8.9,"The lives of two mob hitmen, a boxer, a gangst...",94.0,Quentin Tarantino,John Travolta,Uma Thurman,Samuel L. Jackson,Bruce Willis,1826188,107928762

In [121]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 749 entries, 1 to 749
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   749 non-null    object
 1   Released_Year  749 non-null    int32
 2   Runtime        749 non-null    int64
 3   Genre          749 non-null    object
 4   IMDB_Rating    749 non-null    float64
 5   Overview       749 non-null    object
 6   Meta_score     749 non-null    float64
 7   Director       749 non-null    object
 8   Star1          749 non-null    object
 9   Star2          749 non-null    object
 10  Star3          749 non-null    object
 11  Star4          749 non-null    object
 12  No_of_Votes    749 non-null    int64
 13  Gross          749 non-null    int64
dtypes: float64(2), int32(1), int64(3), object(8)
memory usage: 84.8+ KB

In [122]:
# movies with highest votes
# Sort the DataFrame by 'No of Votes' column in descending order
movies_sorted_by_votes = movies_df.sort_values(by='No_of_Votes', ascending=True)

# Get the top 5 movies with the least votes
top_movies_by_least_votes = movies_sorted_by_votes.head(5)

# Print the top movies with the most votes
print("Top 5 movies with the least votes:")
display(top_movies_by_least_votes)

Top 5 movies with the least votes:

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
Rank,,,,,,,,,,,,,,
532,God's Own Country,2017,104,"drama, romance",7.7,Spring. Yorkshire. Young farmer Johnny Saxby n...,85.0,Francis Lee,Josh O'Connor,Alec Secareanu,Gemma Jones,Ian Hart,25198,335609
496,La planète sauvage,1973,72,"animation, sci-fi",7.8,"On a faraway planet where blue giants rule, op...",73.0,René Laloux,Barry Bostwick,Jennifer Drake,Eric Baugin,Jean Topart,25229,193817
546,The Magdalene Sisters,2002,114,drama,7.7,Three young Irish women struggle to maintain t...,83.0,Peter Mullan,Eileen Walsh,Dorothy Duffy,Nora-Jane Noone,Anne-Marie Duff,25938,4890878
741,The Long Goodbye,1973,112,"comedy, crime, drama",7.6,Private investigator Philip Marlowe helps a fr...,87.0,Robert Altman,Elliott Gould,Nina van Pallandt,Sterling Hayden,Mark Rydell,26337,959000
501,The Innocents,1961,100,horror,7.8,A young governess for two children becomes con...,88.0,Jack Clayton,Deborah Kerr,Peter Wyngarde,Megs Jenkins,Michael Redgrave,27007,2616000

In [123]:
#which movies have the longest runtime
# Find the movie with the longest runtime
movie_longest_runtime = movies_df.nlargest(1, 'Runtime')

# Print the movie details
print("Movie with the longest runtime:")
movie_longest_runtime

Movie with the longest runtime:

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
Rank,,,,,,,,,,,,,,
209,Gone with the Wind,1939,238,"drama, history, romance",8.1,A manipulative woman and a roguish man conduct...,97.0,Victor Fleming,George Cukor,Sam Wood,Clark Gable,Vivien Leigh,290074,198676459

In [124]:
#movie with shortest runtime
# Find the movie with the shortest runtime
movie_shortest_runtime = movies_df.nsmallest(1, 'Runtime')

# Print the movie details
print("Movie with the shortest runtime:")
movie_shortest_runtime

Movie with the shortest runtime:

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
Rank,,,,,,,,,,,,,,
680,The Secret of Kells,2009,71,"animation, adventure, family",7.6,A young boy in a remote medieval outpost under...,81.0,Tomm Moore,Nora Twomey,Evan McGuire,Brendan Gleeson,Mick Lally,31779,686383

In [125]:
# showing query
filtered_movies = movies_df.query('IMDB_Rating > 8.0 and Released_Year > 2004 and Meta_score > 90.0')
filtered_movies

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
Rank,,,,,,,,,,,,,,
21,Gisaengchung,2019,132,"comedy, drama, thriller",8.6,Greed and class discrimination threaten the ne...,96.0,Bong Joon Ho,Kang-ho Song,Lee Sun-kyun,Cho Yeo-jeong,Choi Woo-sik,552778,53367844
57,WALL·E,2008,98,"animation, adventure, family",8.4,"In the distant future, a small waste-collectin...",95.0,Andrew Stanton,Ben Burtt,Elissa Knight,Jeff Garlin,Fred Willard,999790,223808164
72,Jodaeiye Nader az Simin,2011,123,drama,8.3,A married couple are faced with a difficult de...,95.0,Asghar Farhadi,Payman Maadi,Leila Hatami,Sareh Bayat,Shahab Hosseini,220002,7098492
114,Toy Story 3,2010,103,"animation, adventure, comedy",8.2,The toys are mistakenly delivered to a day-car...,92.0,Lee Unkrich,Tom Hanks,Tim Allen,Joan Cusack,Ned Beatty,757032,415004880
115,Pan's Labyrinth,2006,118,"drama, fantasy, war",8.2,"In the Falangist Spain of 1944, the bookish yo...",98.0,Guillermo del Toro,Ivana Baquero,Ariadna Gil,Sergi López,Maribel Verdú,618623,37634615
116,There Will Be Blood,2007,158,drama,8.2,"A story of family, religion, hatred, oil and m...",93.0,Paul Thomas Anderson,Daniel Day-Lewis,Paul Dano,Ciarán Hinds,Martin Stringer,517359,40222514
143,Spotlight,2015,129,"biography, crime, drama",8.1,The true story of how the Boston Globe uncover...,93.0,Tom McCarthy,Mark Ruffalo,Michael Keaton,Rachel McAdams,Liev Schreiber,420316,45055776
145,Portrait de la jeune fille en feu,2019,122,"drama, romance",8.1,On an isolated island in Brittany at the end o...,95.0,Céline Sciamma,Noémie Merlant,Adèle Haenel,Luàna Bajrami,Valeria Golino,63134,3759854
146,12 Years a Slave,2013,134,"biography, drama, history",8.1,"In the antebellum United States, Solomon North...",96.0,Steve McQueen,Chiwetel Ejiofor,Michael Kenneth Williams,Michael Fassbender,Brad Pitt,640533,56671993
153,Inside Out,2015,95,"animation, adventure, comedy",8.1,After young Riley is uprooted from her Midwest...,94.0,Pete Docter,Ronnie Del Carmen,Amy Poehler,Bill Hader,Lewis Black,616228,356461711
163,No Country for Old Men,2007,122,"crime, drama, thriller",8.1,Violence and mayhem ensue after a hunter stumb...,91.0,Ethan Coen,Joel Coen,Tommy Lee Jones,Javier Bardem,Josh Brolin,856916,74283625

In [126]:
# showing eval()
df = movies_df.eval('Total_Earnings = Gross * No_of_Votes')
df.head(5)

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross,Total_Earnings
Rank,,,,,,,,,,,,,,,
1,The Shawshank Redemption,1994,142,drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,28341469,66407179428590
2,The Godfather,1972,175,"crime, drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,134966411,218695118492837
3,The Dark Knight,2008,152,"action, crime, drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,534858444,1231903083691008
4,The Godfather: Part II,1974,202,"crime, drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,57300000,64746249600000
5,12 Angry Men,1957,96,"crime, drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,4360000,3007724200000

In [127]:
# determine which year had the most released movies
best_year = movies_df.groupby('Released_Year').count()['Series_Title'].nlargest(10)
#best_year.shape
pd.set_option('display.max_rows', None)
display(best_year)
pd.reset_option('display.max_rows')

Released_Year
2014    29
2004    28
2001    24
2009    24
2013    24
2007    23
2006    22
2003    21
1993    20
2010    20
Name: Series_Title, dtype: int64

In [128]:
# which movies had the highest gross
max_gross_index = movies_df['Gross'].idxmax() #get index of movie with highest gross
movie_with_highest_gross = movies_df.loc[max_gross_index, 'Series_Title']
highest_gross = movies_df.loc[max_gross_index, 'Gross']
rating = movies_df.loc[max_gross_index, 'IMDB_Rating']
print(f"The highest grossing movie was: {movie_with_highest_gross} \n" 
      f"bringing in ${highest_gross} and is ranked number {max_gross_index}" 
      f"in the top movies with an IMDb rating of {rating}")

The highest grossing movie was: Star Wars: Episode VII - The Force Awakens
bringing in $936662225 and is ranked number 332in the top movies with an IMDb rating of 7.9

In [129]:
# Grouping the movies and looking at 
genre_group = movies_df.groupby('Genre').agg({'IMDB_Rating': 'mean', 'Gross': 'sum'})
print(genre_group.sort_values(by='IMDB_Rating', ascending=False).head(10))
print("\n")
print(genre_group.sort_values(by='Gross', ascending=False).head(10))

                              IMDB_Rating      Gross
Genre
crime, mystery, thriller             8.50   23341568
action, sci-fi                       8.40  414723280
horror, sci-fi                       8.40   78900000
drama, mystery, war                  8.35   90328607
western                              8.35   58221508
mystery, romance, thriller           8.30    3200000
crime, drama, sci-fi                 8.30    6207725
comedy, musical, romance             8.30    8819028
adventure, mystery, thriller         8.30   13275000
crime, drama, fantasy                8.25  138923439


                              IMDB_Rating       Gross
Genre
action, adventure, sci-fi        7.928571  5898659459
animation, adventure, comedy     7.925000  4503337598
action, adventure, drama         8.225000  2668835626
action, adventure, fantasy       8.200000  2116341031
drama                            7.942424  2010111145
animation, action, adventure     7.960000  2008694522
drama, romance                   7.929630  1962226898
action, adventure, comedy        7.828571  1911202048
action, crime, drama             7.845000  1308133687
crime, drama, thriller           7.933333  1255884472

In [130]:
# Set MultiIndex based on Genre and Release Year
movies_df.set_index(['Genre', 'Released_Year'], inplace=True)

# Sort the index
movies_df.sort_index(inplace=True)

# Display the DataFrame with MultiIndex
display(movies_df.head(20))

# Accessing data using MultiIndex
action_movies_2010 = movies_df.loc[('action, adventure, comedy', 2017)]
display(action_movies_2010)

                                                                              Series_Title  \
Genre                     Released_Year
action, adventure         1981                                     Raiders of the Lost Ark
                          1982                                                 First Blood
                          1989                          Indiana Jones and the Last Crusade
                          2005                                               Batman Begins
                          2012                                       The Dark Knight Rises
action, adventure, comedy 1980                                          The Blues Brothers
                          2014                                     Guardians of the Galaxy
                          2014                                Kingsman: The Secret Service
                          2016                                                    Deadpool
                          2017                                              Thor: Ragnarok
                          2017                              Guardians of the Galaxy Vol. 2
                          2018                                                  Deadpool 2
action, adventure, drama  1954                                        Shichinin no samurai
                          1992                                    The Last of the Mohicans
                          2000                                                   Gladiator
                          2001           The Lord of the Rings: The Fellowship of the Ring
                          2002                       The Lord of the Rings: The Two Towers
                          2002                                   The Count of Monte Cristo
                          2003               The Lord of the Rings: The Return of the King
                          2006                                       Letters from Iwo Jima

                                         Runtime  IMDB_Rating  \
Genre                     Released_Year
action, adventure         1981               115          8.4
                          1982                93          7.7
                          1989               127          8.2
                          2005               140          8.2
                          2012               164          8.4
action, adventure, comedy 1980               133          7.9
                          2014               121          8.0
                          2014               129          7.7
                          2016               108          8.0
                          2017               130          7.9
                          2017               136          7.6
                          2018               119          7.7
action, adventure, drama  1954               207          8.6
                          1992               112          7.7
                          2000               155          8.5
                          2001               178          8.8
                          2002               179          8.7
                          2002               131          7.8
                          2003               201          8.9
                          2006               141          7.9

                                                                                  Overview  \
Genre                     Released_Year
action, adventure         1981           In 1936, archaeologist and adventurer Indiana ...
                          1982           A veteran Green Beret is forced by a cruel She...
                          1989           In 1938, after his father Professor Henry Jone...
                          2005           After training with his mentor, Batman begins ...
                          2012           Eight years after the Joker's reign of anarchy...
action, adventure, comedy 1980           Jake Blues, just released from prison, puts to...
                          2014           A group of intergalactic criminals must pull t...
                          2014           A spy organisation recruits a promising street...
                          2016           A wisecracking mercenary gets experimented on ...
                          2017           Imprisoned on the planet Sakaar, Thor must rac...
                          2017           The Guardians struggle to keep together as a t...
                          2018           Foul-mouthed mutant mercenary Wade Wilson (a.k...
action, adventure, drama  1954           A poor village under attack by bandits recruit...
                          1992           Three trappers protect the daughters of a Brit...
                          2000           A former Roman General sets out to exact venge...
                          2001           A meek Hobbit from the Shire and eight compani...
                          2002           While Frodo and Sam edge closer to Mordor with...
                          2002           A young man, falsely imprisoned by his jealous...
                          2003           Gandalf and Aragorn lead the World of Men agai...
                          2006           The story of the battle of Iwo Jima between th...

                                         Meta_score           Director  \
Genre                     Released_Year
action, adventure         1981                 85.0   Steven Spielberg
                          1982                 61.0       Ted Kotcheff
                          1989                 65.0   Steven Spielberg
                          2005                 70.0  Christopher Nolan
                          2012                 78.0  Christopher Nolan
action, adventure, comedy 1980                 60.0        John Landis
                          2014                 76.0         James Gunn
                          2014                 60.0     Matthew Vaughn
                          2016                 65.0         Tim Miller
                          2017                 74.0      Taika Waititi
                          2017                 67.0         James Gunn
                          2018                 66.0       David Leitch
action, adventure, drama  1954                 98.0     Akira Kurosawa
                          1992                 76.0       Michael Mann
                          2000                 67.0       Ridley Scott
                          2001                 92.0      Peter Jackson
                          2002                 87.0      Peter Jackson
                          2002                 61.0     Kevin Reynolds
                          2003                 94.0      Peter Jackson
                          2006                 89.0     Clint Eastwood

                                                      Star1  \
Genre                     Released_Year
action, adventure         1981                Harrison Ford
                          1982           Sylvester Stallone
                          1989                Harrison Ford
                          2005               Christian Bale
                          2012               Christian Bale
action, adventure, comedy 1980                 John Belushi
                          2014                  Chris Pratt
                          2014                  Colin Firth
                          2016                Ryan Reynolds
                          2017              Chris Hemsworth
                          2017                  Chris Pratt
                          2018                Ryan Reynolds
action, adventure, drama  1954               Toshirô Mifune
                          1992             Daniel Day-Lewis
                          2000                Russell Crowe
                          2001                  Elijah Wood
                          2002                  Elijah Wood
                          2002                 Jim Caviezel
                          2003                  Elijah Wood
                          2006                 Ken Watanabe

                                                     Star2  \
Genre                     Released_Year
action, adventure         1981                 Karen Allen
                          1982               Brian Dennehy
                          1989                Sean Connery
                          2005               Michael Caine
                          2012                   Tom Hardy
action, adventure, comedy 1980                 Dan Aykroyd
                          2014                  Vin Diesel
                          2014               Taron Egerton
                          2016             Morena Baccarin
                          2017              Tom Hiddleston
                          2017                 Zoe Saldana
                          2018                 Josh Brolin
action, adventure, drama  1954             Takashi Shimura
                          1992             Madeleine Stowe
                          2000             Joaquin Phoenix
                          2001                Ian McKellen
                          2002                Ian McKellen
                          2002                  Guy Pearce
                          2003             Viggo Mortensen
                          2006           Kazunari Ninomiya

                                                       Star3  \
Genre                     Released_Year
action, adventure         1981                  Paul Freeman
                          1982                Richard Crenna
                          1989                  Alison Doody
                          2005                  Ken Watanabe
                          2012                 Anne Hathaway
action, adventure, comedy 1980                  Cab Calloway
                          2014                Bradley Cooper
                          2014             Samuel L. Jackson
                          2016                   T.J. Miller
                          2017                Cate Blanchett
                          2017                 Dave Bautista
                          2018               Morena Baccarin
action, adventure, drama  1954                Keiko Tsushima
                          1992                 Russell Means
                          2000                Connie Nielsen
                          2001                 Orlando Bloom
                          2002               Viggo Mortensen
                          2002           Christopher Adamson
                          2003                  Ian McKellen
                          2006                Tsuyoshi Ihara

                                                    Star4  No_of_Votes  \
Genre                     Released_Year
action, adventure         1981           John Rhys-Davies       884112
                          1982              Bill McKinney       226541
                          1989            Denholm Elliott       692366
                          2005                Liam Neeson      1308302
                          2012                Gary Oldman      1516346
action, adventure, comedy 1980                 John Candy       183182
                          2014                Zoe Saldana      1043455
                          2014              Michael Caine       590440
                          2016                  Ed Skrein       902669
                          2017               Mark Ruffalo       587775
                          2017                 Vin Diesel       569974
                          2018            Julian Dennison       478586
action, adventure, drama  1954           Yukiko Shimazaki       315744
                          1992               Eric Schweig       150409
                          2000                Oliver Reed      1341460
                          2001                  Sean Bean      1661481
                          2002              Orlando Bloom      1485555
                          2002                   JB Blanc       129022
                          2003              Orlando Bloom      1642758
                          2006                   Ryô Kase       154011

                                             Gross
Genre                     Released_Year
action, adventure         1981           248159971
                          1982            47212904
                          1989           197171806
                          2005           206852432
                          2012           448139099
action, adventure, comedy 1980            57229890
                          2014           333176600
                          2014           128261724
                          2016           363070709
                          2017           315058289
                          2017           389813101
                          2018           324591735
action, adventure, drama  1954              269061
                          1992            75505856
                          2000           187705427
                          2001           315544750
                          2002           342551365
                          2002            54234062
                          2003           377845905
                          2006            13756082

                                                           Series_Title  \
Genre                     Released_Year
action, adventure, comedy 2017                           Thor: Ragnarok
                          2017           Guardians of the Galaxy Vol. 2

                                         Runtime  IMDB_Rating  \
Genre                     Released_Year
action, adventure, comedy 2017               130          7.9
                          2017               136          7.6

                                                                                  Overview  \
Genre                     Released_Year
action, adventure, comedy 2017           Imprisoned on the planet Sakaar, Thor must rac...
                          2017           The Guardians struggle to keep together as a t...

                                         Meta_score       Director  \
Genre                     Released_Year
action, adventure, comedy 2017                 74.0  Taika Waititi
                          2017                 67.0     James Gunn

                                                   Star1           Star2  \
Genre                     Released_Year
action, adventure, comedy 2017           Chris Hemsworth  Tom Hiddleston
                          2017               Chris Pratt     Zoe Saldana

                                                  Star3         Star4  \
Genre                     Released_Year
action, adventure, comedy 2017           Cate Blanchett  Mark Ruffalo
                          2017            Dave Bautista    Vin Diesel

                                         No_of_Votes      Gross
Genre                     Released_Year
action, adventure, comedy 2017                587775  315058289
                          2017                569974  389813101

In [131]:
# using pivot tables to find which directors consistently produce good movies
# Calculate the count of movies made by each director
director_movie_count = movies_df['Director'].value_counts()

# Filter the DataFrame to include only directors with three or more movies
directors_with_four_or_more_movies = director_movie_count[director_movie_count >= 4].index

# Filter the original DataFrame based on the selected directors
filtered_movies_df = movies_df[movies_df['Director'].isin(directors_with_four_or_more_movies)]

# Create a pivot table to summarize data by Director and IMDB_Rating
pivot_table_director_rating = filtered_movies_df.pivot_table(index='Director', values='IMDB_Rating', aggfunc='mean')

pd.set_option('display.max_rows', None)

# Sort the pivot table by mean rating in descending order
pivot_table_director_rating = pivot_table_director_rating.sort_values(by='IMDB_Rating', ascending=False)

display(pivot_table_director_rating.head(10))
pd.reset_option('display.max_rows')

                      IMDB_Rating
Director
Christopher Nolan        8.462500
Francis Ford Coppola     8.400000
Peter Jackson            8.400000
Stanley Kubrick          8.266667
Sergio Leone             8.240000
Billy Wilder             8.225000
Quentin Tarantino        8.175000
Martin Scorsese          8.170000
Alfred Hitchcock         8.144444
Hayao Miyazaki           8.142857

In [132]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 749 entries, ('action, adventure', 1981) to ('western', 1976)
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Series_Title  749 non-null    object
 1   Runtime       749 non-null    int64
 2   IMDB_Rating   749 non-null    float64
 3   Overview      749 non-null    object
 4   Meta_score    749 non-null    float64
 5   Director      749 non-null    object
 6   Star1         749 non-null    object
 7   Star2         749 non-null    object
 8   Star3         749 non-null    object
 9   Star4         749 non-null    object
 10  No_of_Votes   749 non-null    int64
 11  Gross         749 non-null    int64
dtypes: float64(2), int64(3), object(7)
memory usage: 96.0+ KB

### Merging Files example

In [133]:
# loading new datasets
df1 = pd.read_csv("tmdb_5000_credits.csv")
df2 = pd.read_csv("tmdb_5000_movies.csv")
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4803 non-null   int64
 1   title     4803 non-null   object
 2   cast      4803 non-null   object
 3   crew      4803 non-null   object
dtypes: int64(1), object(3)
memory usage: 150.2+ KB

In [134]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

In [135]:
df1.columns = ['id', 'title', 'cast', 'crew']
merged_df = df2.merge(df1, on='id')
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title_x               4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
 20  title_y               4803 non-null   object
 21  cast                  4803 non-null   object
 22  crew                  4803 non-null   object
dtypes: float64(3), int64(4), object(16)
memory usage: 863.2+ KB

In [136]:
merged_df.drop(['title_y', 'homepage'], axis=1, inplace=True)
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   id                    4803 non-null   int64
 3   keywords              4803 non-null   object
 4   original_language     4803 non-null   object
 5   original_title        4803 non-null   object
 6   overview              4800 non-null   object
 7   popularity            4803 non-null   float64
 8   production_companies  4803 non-null   object
 9   production_countries  4803 non-null   object
 10  release_date          4802 non-null   object
 11  revenue               4803 non-null   int64
 12  runtime               4801 non-null   float64
 13  spoken_languages      4803 non-null   object
 14  status                4803 non-null   object
 15  tagline               3959 non-null   object
 16  title_x               4803 non-null   object
 17  vote_average          4803 non-null   float64
 18  vote_count            4803 non-null   int64
 19  cast                  4803 non-null   object
 20  crew                  4803 non-null   object
dtypes: float64(3), int64(4), object(14)
memory usage: 788.1+ KB

In [137]:
merged_df.set_index(['genres', 'release_date'], inplace=True)
merged_df.head()

,,budget,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,revenue,runtime,spoken_languages,status,tagline,title_x,vote_average,vote_count,cast,crew
genres,release_date,,,,,,,,,,,,,,,,,,,
"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""name"": ""Fantasy""}, {""id"": 878, ""name"": ""Science Fiction""}]",2009-12-10,237000000,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""name"": ""Fantasy""}, {""id"": 28, ""name"": ""Action""}]",2007-05-19,300000000,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""name"": ""Adventure""}, {""id"": 80, ""name"": ""Crime""}]",2015-10-26,245000000,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""name"": ""Crime""}, {""id"": 18, ""name"": ""Drama""}, {""id"": 53, ""name"": ""Thriller""}]",2012-07-16,250000000,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""name"": ""Adventure""}, {""id"": 878, ""name"": ""Science Fiction""}]",2012-03-07,260000000,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [138]:
# vecterized string operations
merged_df['first_word'] = merged_df['title_x'].str.split().str[0]
merged_df

,,budget,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,revenue,runtime,spoken_languages,status,tagline,title_x,vote_average,vote_count,cast,crew,first_word
genres,release_date,,,,,,,,,,,,,,,,,,,,
"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""name"": ""Fantasy""}, {""id"": 878, ""name"": ""Science Fiction""}]",2009-12-10,237000000,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",Avatar
"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""name"": ""Fantasy""}, {""id"": 28, ""name"": ""Action""}]",2007-05-19,300000000,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",Pirates
"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""name"": ""Adventure""}, {""id"": 80, ""name"": ""Crime""}]",2015-10-26,245000000,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",Spectre
"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""name"": ""Crime""}, {""id"": 18, ""name"": ""Drama""}, {""id"": 53, ""name"": ""Thriller""}]",2012-07-16,250000000,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",The
"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""name"": ""Adventure""}, {""id"": 878, ""name"": ""Science Fiction""}]",2012-03-07,260000000,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",John
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""name"": ""Crime""}, {""id"": 53, ""name"": ""Thriller""}]",1992-09-04,220000,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""iso_3166_1"": ""MX"", ""name"": ""Mexico""}, {""iso...",2040920,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238,"[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de...",El
"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""name"": ""Romance""}]",2011-12-26,9000,72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],[],0,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5,"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de...",Newlyweds
"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""name"": ""Romance""}, {""id"": 10770, ""name"": ""TV Movie""}]",2013-10-13,0,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",0,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6,"[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de...","Signed,"
[],2012-05-03,0,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",0,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7,"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de...",Shanghai
"[{""id"": 99, ""name"": ""Documentary""}]",2005-08-05,0,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de...",My

In [139]:
# Example using concat to combine DataFrames along rows
movies_part1 = movies_df.iloc[:500]  # First half of the DataFrame
movies_part2 = movies_df.iloc[500:]  # Second half of the DataFrame

# Concatenate the two parts
movies_combined = pd.concat([movies_part1, movies_part2])

# Verify the concatenation
print(movies_combined.shape)

(749, 12)

In [143]:
import pandas as pd

# Assuming movies_df is already defined and loaded
# Create the additional DataFrame
additional_movies = pd.DataFrame({
    'Rank': [1001, 1002],
    'Series_Title': ['New Movie 1', 'New Movie 2'],
    'Released_Year': [2023, 2023],
    'Runtime': [120, 130],
    'Genre': ['Drama', 'Comedy'],
    'IMDB_Rating': [8.5, 7.8],
    'Meta_score': [88, 75],
    'Director': ['Director 1', 'Director 2'],
    'Star1': ['Star 1', 'Star 2'],
    'Star2': ['Star 3', 'Star 4'],
    'Star3': ['Star 5', 'Star 6'],
    'Star4': ['Star 7', 'Star 8'],
    'No_of_Votes': [15000, 12000],
    'Gross': [1000000, 2000000]
})

# Use pd.concat to append the additional movies
movies_combined = pd.concat([movies_df, additional_movies], ignore_index=True)

# Verify the append operation
display(movies_combined.tail())

,Series_Title,Runtime,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross,Rank,Released_Year,Genre
746,"Il buono, il brutto, il cattivo",161,8.8,A bounty hunting scam joins two men in an unea...,90.0,Sergio Leone,Clint Eastwood,Eli Wallach,Lee Van Cleef,Aldo Giuffrè,688390,6100000,NaN,NaN,NaN
747,Once Upon a Time in the West,165,8.5,A mysterious stranger with a harmonica joins f...,80.0,Sergio Leone,Henry Fonda,Charles Bronson,Claudia Cardinale,Jason Robards,302844,5321508,NaN,NaN,NaN
748,The Outlaw Josey Wales,135,7.8,Missouri farmer Josey Wales joins a Confederat...,69.0,Clint Eastwood,Clint Eastwood,Sondra Locke,Chief Dan George,Bill McKinney,65659,31800000,NaN,NaN,NaN
749,New Movie 1,120,8.5,NaN,88.0,Director 1,Star 1,Star 3,Star 5,Star 7,15000,1000000,1001.0,2023.0,Drama
750,New Movie 2,130,7.8,NaN,75.0,Director 2,Star 2,Star 4,Star 6,Star 8,12000,2000000,1002.0,2023.0,Comedy