## Analyzing a Movie Dataset

In [72]:
# Loading the dataset
import pandas as pd
import numpy as np

movies_df = pd.read_csv("imdb_top_1000.csv")

# Print first few rows of the dataset
movies_df.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

In [73]:
# Get general information about the dataframe
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Series_Title   1000 non-null   object
 2   Released_Year  1000 non-null   object
 3   Certificate    899 non-null    object
 4   Runtime        1000 non-null   object
 5   Genre          1000 non-null   object
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   object
 8   Meta_score     843 non-null    float64
 9   Director       1000 non-null   object
 10  Star1          1000 non-null   object
 11  Star2          1000 non-null   object
 12  Star3          1000 non-null   object
 13  Star4          1000 non-null   object
 14  No_of_Votes    1000 non-null   int64
 15  Gross          831 non-null    object
dtypes: float64(2), int64(1), object(13)
memory usage: 125.1+ KB

In [14]:
# Summary statistics of numerical columns
movies_df.describe()
# for this dataset, it doesn't tell me too much

       IMDB_Rating  Meta_score   No_of_Votes
count  1000.000000  843.000000  1.000000e+03
mean      7.949300   77.971530  2.736929e+05
std       0.275491   12.376099  3.273727e+05
min       7.600000   28.000000  2.508800e+04
25%       7.700000   70.000000  5.552625e+04
50%       7.900000   79.000000  1.385485e+05
75%       8.100000   87.000000  3.741612e+05
max       9.300000  100.000000  2.343110e+06

In [15]:
movies_df.set_index('Series_Title', inplace=True) # Change index to be Title column
movies_df.head(4)

,Poster_Link,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
Series_Title,,,,,,,,,,,,,,,
The Shawshank Redemption,https://m.media-amazon.com/images/M/MV5BMDFkYT...,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
The Godfather,https://m.media-amazon.com/images/M/MV5BM2MyNj...,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
The Dark Knight,https://m.media-amazon.com/images/M/MV5BMTMxNT...,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
The Godfather: Part II,https://m.media-amazon.com/images/M/MV5BMWMwMG...,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"

In [16]:
movies_df.tail(10)

,Poster_Link,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
Series_Title,,,,,,,,,,,,,,,
Giù la testa,https://m.media-amazon.com/images/M/MV5BYjRmY2...,1971,PG,157 min,"Drama, War, Western",7.6,A low-life bandit and an I.R.A. explosives exp...,77.0,Sergio Leone,Rod Steiger,James Coburn,Romolo Valli,Maria Monti,30144,"696,690"
Kelly's Heroes,https://m.media-amazon.com/images/M/MV5BMzAyND...,1970,GP,144 min,"Adventure, Comedy, War",7.6,A group of U.S. soldiers sneaks across enemy l...,50.0,Brian G. Hutton,Clint Eastwood,Telly Savalas,Don Rickles,Carroll O'Connor,45338,"1,378,435"
The Jungle Book,https://m.media-amazon.com/images/M/MV5BMjAwMT...,1967,U,78 min,"Animation, Adventure, Family",7.6,Bagheera the Panther and Baloo the Bear have a...,65.0,Wolfgang Reitherman,Phil Harris,Sebastian Cabot,Louis Prima,Bruce Reitherman,166409,"141,843,612"
Blowup,https://m.media-amazon.com/images/M/MV5BYTE4YW...,1966,A,111 min,"Drama, Mystery, Thriller",7.6,A fashion photographer unknowingly captures a ...,82.0,Michelangelo Antonioni,David Hemmings,Vanessa Redgrave,Sarah Miles,John Castle,56513,NaN
A Hard Day's Night,https://m.media-amazon.com/images/M/MV5BZjQyMG...,1964,U,87 min,"Comedy, Music, Musical",7.6,"Over two ""typical"" days in the life of The Bea...",96.0,Richard Lester,John Lennon,Paul McCartney,George Harrison,Ringo Starr,40351,"13,780,024"
Breakfast at Tiffany's,https://m.media-amazon.com/images/M/MV5BNGEwMT...,1961,A,115 min,"Comedy, Drama, Romance",7.6,A young New York socialite becomes interested ...,76.0,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen,166544,NaN
Giant,https://m.media-amazon.com/images/M/MV5BODk3Yj...,1956,G,201 min,"Drama, Western",7.6,Sprawling epic covering the life of a Texas ca...,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,34075,NaN
From Here to Eternity,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,1953,Passed,118 min,"Drama, Romance, War",7.6,"In Hawaii in 1941, a private is cruelly punish...",85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,"30,500,000"
Lifeboat,https://m.media-amazon.com/images/M/MV5BZTBmMj...,1944,NaN,97 min,"Drama, War",7.6,Several survivors of a torpedoed merchant ship...,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471,NaN
The 39 Steps,https://m.media-amazon.com/images/M/MV5BMTY5OD...,1935,NaN,86 min,"Crime, Mystery, Thriller",7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,NaN

In [17]:
# Add a 'Rank' column
movies_df['Rank'] = range(1, len(movies_df) + 1)
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, The Shawshank Redemption to The 39 Steps
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Released_Year  1000 non-null   object
 2   Certificate    899 non-null    object
 3   Runtime        1000 non-null   object
 4   Genre          1000 non-null   object
 5   IMDB_Rating    1000 non-null   float64
 6   Overview       1000 non-null   object
 7   Meta_score     843 non-null    float64
 8   Director       1000 non-null   object
 9   Star1          1000 non-null   object
 10  Star2          1000 non-null   object
 11  Star3          1000 non-null   object
 12  Star4          1000 non-null   object
 13  No_of_Votes    1000 non-null   int64
 14  Gross          831 non-null    object
 15  Rank           1000 non-null   int64
dtypes: float64(2), int64(2), object(12)
memory usage: 132.8+ KB

*Let's move the 'Rank' column to the top*

In [ ]:
# get list of column names
new_columns = list(movies_df.columns)
# remove the 'Rank' column from the list
new_columns.remove('Rank')
# insert 'Rank' column at specified index
new_columns.insert(0, 'Rank')
# Reorder the DataFrame Columns
movies_df = movies_df[new_columns]
# Check DataFrame info
movies_df.info()

In [18]:
# Sorting the data by ratings
movies_df = movies_df.sort_values(by='IMDB_Rating', ascending=False)

movies_df.reset_index(inplace=True)

movies_df.set_index('Rank', inplace=True)

movies_df

,Series_Title,Poster_Link,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
Rank,,,,,,,,,,,,,,,,
1,The Shawshank Redemption,https://m.media-amazon.com/images/M/MV5BMDFkYT...,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
2,The Godfather,https://m.media-amazon.com/images/M/MV5BM2MyNj...,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
3,The Dark Knight,https://m.media-amazon.com/images/M/MV5BMTMxNT...,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
4,The Godfather: Part II,https://m.media-amazon.com/images/M/MV5BMWMwMG...,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
5,12 Angry Men,https://m.media-amazon.com/images/M/MV5BMWU4N2...,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,Zombieland,https://m.media-amazon.com/images/M/MV5BMTU5MD...,2009,A,88 min,"Adventure, Comedy, Fantasy",7.6,A shy student trying to reach his family in Oh...,73.0,Ruben Fleischer,Jesse Eisenberg,Emma Stone,Woody Harrelson,Abigail Breslin,520041,"75,590,286"
912,La piel que habito,https://m.media-amazon.com/images/M/MV5BYmFmNj...,2011,R,120 min,"Drama, Horror, Thriller",7.6,"A brilliant plastic surgeon, haunted by past t...",70.0,Pedro Almodóvar,Antonio Banderas,Elena Anaya,Jan Cornet,Marisa Paredes,138959,"3,185,812"
911,Moneyball,https://m.media-amazon.com/images/M/MV5BMjAxOT...,2011,PG-13,133 min,"Biography, Drama, Sport",7.6,Oakland A's general manager Billy Beane's succ...,87.0,Bennett Miller,Brad Pitt,Robin Wright,Jonah Hill,Philip Seymour Hoffman,369529,"75,605,492"
910,Celda 211,https://m.media-amazon.com/images/M/MV5BMjI2OD...,2009,NaN,113 min,"Action, Adventure, Crime",7.6,The story of two men on different sides of a p...,NaN,Daniel Monzón,Luis Tosar,Alberto Ammann,Antonio Resines,Manuel Morón,63882,NaN
1000,The 39 Steps,https://m.media-amazon.com/images/M/MV5BMTY5OD...,1935,NaN,86 min,"Crime, Mystery, Thriller",7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,NaN

In [19]:
movies_df.shape

(1000, 16)

In [20]:
movies_df.size

16000

In [21]:
movies_df.iloc[199] # Get info about movie rank 200

Series_Title                                               Network
Poster_Link      https://m.media-amazon.com/images/M/MV5BZGNjYj...
Released_Year                                                 1976
Certificate                                                     UA
Runtime                                                    121 min
Genre                                                        Drama
IMDB_Rating                                                    8.1
Overview         A television network cynically exploits a dera...
Meta_score                                                    83.0
Director                                              Sidney Lumet
Star1                                                 Faye Dunaway
Star2                                               William Holden
Star3                                                  Peter Finch
Star4                                                Robert Duvall
No_of_Votes                                                 144911
Gross                                                          NaN
Name: 281, dtype: object

In [22]:
movies_df.sort_index().head()

,Series_Title,Poster_Link,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
Rank,,,,,,,,,,,,,,,,
1,The Shawshank Redemption,https://m.media-amazon.com/images/M/MV5BMDFkYT...,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
2,The Godfather,https://m.media-amazon.com/images/M/MV5BM2MyNj...,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
3,The Dark Knight,https://m.media-amazon.com/images/M/MV5BMTMxNT...,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
4,The Godfather: Part II,https://m.media-amazon.com/images/M/MV5BMWMwMG...,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
5,12 Angry Men,https://m.media-amazon.com/images/M/MV5BMWU4N2...,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

In [23]:
# List the genre of each movie
movies_df['Genre']

Rank
1                            Drama
2                     Crime, Drama
3             Action, Crime, Drama
4                     Crime, Drama
5                     Crime, Drama
                   ...
913     Adventure, Comedy, Fantasy
912        Drama, Horror, Thriller
911        Biography, Drama, Sport
910       Action, Adventure, Crime
1000      Crime, Mystery, Thriller
Name: Genre, Length: 1000, dtype: object

In [24]:
# Get genre count 
movies_df['Genre'].value_counts().head(40)

Genre
Drama                           85
Drama, Romance                  37
Comedy, Drama                   35
Comedy, Drama, Romance          31
Action, Crime, Drama            30
Biography, Drama, History       28
Crime, Drama, Thriller          28
Crime, Drama, Mystery           27
Crime, Drama                    26
Animation, Adventure, Comedy    24
Action, Adventure, Sci-Fi       21
Biography, Crime, Drama         16
Comedy, Crime, Drama            15
Drama, War                      15
Drama, Thriller                 14
Action, Adventure, Drama        14
Comedy                          13
Biography, Drama                12
Animation, Action, Adventure    11
Action, Crime, Thriller         10
Action, Adventure, Comedy       10
Animation, Adventure, Family     9
Drama, Mystery, Thriller         9
Biography, Drama, Sport          9
Mystery, Thriller                9
Adventure, Comedy, Drama         8
Animation, Adventure, Drama      7
Drama, Music, Romance            7
Biography, Drama, Music          7
Biography, Comedy, Drama         7
Comedy, Romance                  7
Action, Biography, Drama         7
Comedy, Drama, Family            7
Adventure, Family, Fantasy       7
Action, Comedy, Crime            6
Adventure, Biography, Drama      6
Drama, Mystery, Romance          6
Drama, Sport                     6
Comedy, Crime                    6
Drama, Music                     6
Name: count, dtype: int64

In [25]:
# Show only movies with genre name Drama
movies_df[movies_df['Genre'] == 'Drama']

,Series_Title,Poster_Link,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
Rank,,,,,,,,,,,,,,,,
1,The Shawshank Redemption,https://m.media-amazon.com/images/M/MV5BMDFkYT...,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
10,Fight Club,https://m.media-amazon.com/images/M/MV5BMmEzNT...,1999,A,139 min,Drama,8.8,An insomniac office worker and a devil-may-car...,66.0,David Fincher,Brad Pitt,Edward Norton,Meat Loaf,Zach Grenier,1854740,"37,030,102"
18,One Flew Over the Cuckoo's Nest,https://m.media-amazon.com/images/M/MV5BZjA0OW...,1975,A,133 min,Drama,8.7,A criminal pleads insanity and is admitted to ...,83.0,Milos Forman,Jack Nicholson,Louise Fletcher,Michael Berryman,Peter Brocco,918088,"112,000,000"
21,Soorarai Pottru,https://m.media-amazon.com/images/M/MV5BOTc2ZT...,2020,U,153 min,Drama,8.6,"Nedumaaran Rajangam ""Maara"" sets out to make t...",NaN,Sudha Kongara,Suriya,Madhavan,Paresh Rawal,Aparna Balamurali,54995,NaN
41,American History X,https://m.media-amazon.com/images/M/MV5BZjA0MT...,1998,R,119 min,Drama,8.5,A former neo-nazi skinhead tries to prevent hi...,62.0,Tony Kaye,Edward Norton,Edward Furlong,Beverly D'Angelo,Jennifer Lien,1034705,"6,719,864"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
881,Nelyubov,https://m.media-amazon.com/images/M/MV5BNzk2Nm...,2017,R,127 min,Drama,7.6,A couple going through a divorce must team up ...,86.0,Andrey Zvyagintsev,Maryana Spivak,Aleksey Rozin,Matvey Novikov,Marina Vasileva,29765,"566,356"
935,Mysterious Skin,https://m.media-amazon.com/images/M/MV5BMTgxMj...,2004,R,105 min,Drama,7.6,A teenage hustler and a young man obsessed wit...,73.0,Gregg Araki,Brady Corbet,Joseph Gordon-Levitt,Elisabeth Shue,Chase Ellison,65939,"697,181"
934,"Synecdoche, New York",https://m.media-amazon.com/images/M/MV5BMjA0Mj...,2008,R,124 min,Drama,7.6,"A theatre director struggles with his work, an...",67.0,Charlie Kaufman,Philip Seymour Hoffman,Samantha Morton,Michelle Williams,Catherine Keener,83158,"3,081,925"
918,Seven Pounds,https://m.media-amazon.com/images/M/MV5BMTU0Nz...,2008,UA,123 min,Drama,7.6,A man with a fateful secret embarks on an extr...,36.0,Gabriele Muccino,Will Smith,Rosario Dawson,Woody Harrelson,Michael Ealy,286770,"69,951,824"
917,The Visitor,https://m.media-amazon.com/images/M/MV5BMTIzNT...,2007,PG-13,104 min,Drama,7.6,A college professor travels to New York City t...,79.0,Tom McCarthy,Richard Jenkins,Haaz Sleiman,Danai Gurira,Hiam Abbass,41544,"9,422,422"

In [26]:
# Get movies with released after 2015
after_year = movies_df['Released_Year'] > '2015'
movies_df[after_year]

,Series_Title,Poster_Link,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
Rank,,,,,,,,,,,,,,,,
21,Soorarai Pottru,https://m.media-amazon.com/images/M/MV5BOTc2ZT...,2020,U,153 min,Drama,8.6,"Nedumaaran Rajangam ""Maara"" sets out to make t...",NaN,Sudha Kongara,Suriya,Madhavan,Paresh Rawal,Aparna Balamurali,54995,NaN
20,Gisaengchung,https://m.media-amazon.com/images/M/MV5BYWZjMj...,2019,A,132 min,"Comedy, Drama, Thriller",8.6,Greed and class discrimination threaten the ne...,96.0,Bong Joon Ho,Kang-ho Song,Lee Sun-kyun,Cho Yeo-jeong,Choi Woo-sik,552778,"53,367,844"
19,Hamilton,https://m.media-amazon.com/images/M/MV5BNjViNW...,2020,PG-13,160 min,"Biography, Drama, History",8.6,The real life of one of America's foremost fou...,90.0,Thomas Kail,Lin-Manuel Miranda,Phillipa Soo,Leslie Odom Jr.,Renée Elise Goldsberry,55291,NaN
34,Joker,https://m.media-amazon.com/images/M/MV5BNGVjNW...,2019,A,122 min,"Crime, Drama, Thriller",8.5,"In Gotham City, mentally troubled comedian Art...",59.0,Todd Phillips,Joaquin Phoenix,Robert De Niro,Zazie Beetz,Frances Conroy,939252,"335,451,311"
60,Avengers: Endgame,https://m.media-amazon.com/images/M/MV5BMTc5MD...,2019,UA,181 min,"Action, Adventure, Drama",8.4,After the devastating events of Avengers: Infi...,78.0,Anthony Russo,Joe Russo,Robert Downey Jr.,Chris Evans,Mark Ruffalo,809955,"858,373,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
882,The Florida Project,https://m.media-amazon.com/images/M/MV5BMjg4Zm...,2017,A,111 min,Drama,7.6,"Set over one summer, the film follows precocio...",92.0,Sean Baker,Brooklynn Prince,Bria Vinaite,Willem Dafoe,Christopher Rivera,95181,"5,904,366"
881,Nelyubov,https://m.media-amazon.com/images/M/MV5BNzk2Nm...,2017,R,127 min,Drama,7.6,A couple going through a divorce must team up ...,86.0,Andrey Zvyagintsev,Maryana Spivak,Aleksey Rozin,Matvey Novikov,Marina Vasileva,29765,"566,356"
880,Once Upon a Time... in Hollywood,https://m.media-amazon.com/images/M/MV5BOTg4ZT...,2019,A,161 min,"Comedy, Drama",7.6,A faded television actor and his stunt double ...,83.0,Quentin Tarantino,Leonardo DiCaprio,Brad Pitt,Margot Robbie,Emile Hirsch,551309,"142,502,728"
879,Searching,https://m.media-amazon.com/images/M/MV5BMjIwOT...,2018,U/A,102 min,"Drama, Mystery, Thriller",7.6,"After his teenage daughter goes missing, a des...",71.0,Aneesh Chaganty,John Cho,Debra Messing,Joseph Lee,Michelle La,140840,"26,020,957"
878,Dark Waters,https://m.media-amazon.com/images/M/MV5BODQ0M2...,2019,PG-13,126 min,"Biography, Drama, History",7.6,A corporate defense attorney takes on an envir...,73.0,Todd Haynes,Mark Ruffalo,Anne Hathaway,Tim Robbins,Bill Pullman,60408,NaN

In [61]:
# Handling missing data
print(movies_df.isna().sum())

Poster_Link        0
Series_Title       0
Released_Year      0
Certificate      101
Runtime            0
Genre              0
IMDB_Rating        0
Overview           0
Meta_score       157
Director           0
Star1              0
Star2              0
Star3              0
Star4              0
No_of_Votes        0
Gross            169
dtype: int64

In [70]:
movies_df.fillna(0)
print(movies_df.isna().sum())

Series_Title       0
Released_Year      0
Certificate      101
Runtime            0
Genre              0
IMDB_Rating        0
Overview           0
Meta_score       157
Director           0
Star1              0
Star2              0
Star3              0
Star4              0
No_of_Votes        0
Gross            169
dtype: int64

In [63]:
sum(movies_df.duplicated())

0

In [ ]:
movies_df['Released_Year'] = pd.to_datetime(movies_df['Released_Year'])
movies_df.head()
# doesnt work because dont have the full date only the year

In [65]:
movies_df['Released_Year'] = pd.to_datetime(movies_df['Released_Year'] + '-01-01')
movies_df.head()

ValueError: time data "PG-01-01" doesn't match format "%Y-%m-%d", at position 99. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [74]:
# drop unused columns
movies_df.drop('Poster_Link', axis=1, inplace=True)
movies_df.shape

(1000, 15)

## Analyze the data

In [79]:
# determine which year had the most released movies
best_year = movies_df.groupby('Released_Year').count()['Series_Title']
#best_year.shape
pd.set_option('display.max_rows', None)
best_year
#pd.reset_option('diplay.max_rows')

Released_Year
1920     1
1921     1
1922     1
1924     1
1925     2
1926     1
1927     2
1928     2
1930     1
1931     3
1932     2
1933     3
1934     2
1935     3
1936     1
1937     1
1938     3
1939     5
1940     7
1941     2
1942     3
1943     1
1944     4
1945     2
1946     5
1947     2
1948     6
1949     3
1950     5
1951     5
1952     4
1953     5
1954     6
1955     6
1956     5
1957     9
1958     4
1959     7
1960    11
1961     5
1962    13
1963     5
1964     7
1965     4
1966     7
1967    10
1968     8
1969     3
1970     3
1971     9
1972     8
1973    12
1974     6
1975     9
1976     7
1977     3
1978     7
1979    12
1980     8
1981     4
1982    11
1983     5
1984     9
1985     9
1986     9
1987    12
1988    11
1989    11
1990     8
1991    12
1992    12
1993    23
1994    13
1995    19
1996    10
1997    19
1998    17
1999    17
2000    19
2001    27
2002    19
2003    22
2004    31
2005    17
2006    26
2007    26
2008    21
2009    29
2010    23
2011    18
2012    24
2013    28
2014    32
2015    25
2016    28
2017    22
2018    19
2019    23
2020     6
PG       1
Name: Series_Title, dtype: int64

In [80]:
# which movies had the hishgest gross
max_gross_index = movies_df['Gross'].idxmax() #get index of movie with highest gross
movie_with_highest_gross = movies_df.loc[max_gross_index, 'Series_Title']
print(movie_with_highest_gross)

<bound method Series.idxmax of 0       28,341,469
1      134,966,411
2      534,858,444
3       57,300,000
4        4,360,000
5      377,845,905
6      107,928,762
7       96,898,818
8      292,576,195
9       37,030,102
10     315,544,750
11     330,252,182
12       6,100,000
13     342,551,365
14     171,479,930
15      46,836,394
16     290,475,067
17     112,000,000
18             NaN
19      53,367,844
20             NaN
21     188,020,017
22       7,563,397
23      10,055,859
24     216,540,909
25     136,801,374
26      57,598,247
27     100,125,643
28     130,742,922
29     322,740,140
30             NaN
31         269,061
32             NaN
33     335,451,311
34      13,092,000
35      13,182,281
36      53,089,891
37     132,384,315
38      32,572,577
39     187,705,427
40       6,719,864
41      23,341,568
42      19,501,238
43     422,783,777
44     204,843,350
45      11,990,401
46             NaN
47     210,609,762
48       5,321,508
49      32,000,000
50       1,024,560
51         163,245
52          19,181
53       1,661,096
54             NaN
55             NaN
56       5,017,246
57      12,391,761
58     190,241,310
59     858,373,000
60     678,815,482
61     209,726,015
62     162,805,434
63     448,139,099
64       6,532,908
65       1,223,869
66     223,808,164
67      11,286,112
68         707,481
69      25,544,867
70       2,375,308
71       5,321,508
72     248,159,971
73      44,017,374
74      83,471,511
75      78,900,000
76             NaN
77             NaN
78         275,902
79       8,175,000
80             NaN
81      36,764,313
82             NaN
83         288,475
84     159,227,644
85             NaN
86       1,373,943
87             NaN
88         687,185
89       7,098,492
90       6,857,096
91             NaN
92             NaN
93     120,540,719
94      34,400,301
95      33,225,499
96      30,328,156
97       3,635,482
98     130,096,601
99     138,433,435
100        933,933
101    191,796,233
102     75,600,000
103      2,832,029
104     46,357,676
105            NaN
106     85,160,248
107     51,973,029
108     45,598,982
109    309,125,409
110     11,487,676
111     28,262,574
112    159,600,000
113      6,207,725
114     56,954,992
115     15,000,000
116     44,824,144
117     18,600,000
118     13,275,000
119      3,200,000
120      8,819,028
121         55,240
122        332,930
123      5,720,000
124      1,585,634
125         28,877
126      1,236,166
127      5,450,000
128        898,575
129      4,186,168
130            NaN
131     85,080,171
132     54,513,740
133        342,370
134     20,186,659
135            NaN
136        739,478
137      1,429,534
138        144,501
139      1,626,289
140            NaN
141          7,461
142         39,567
143      6,391,436
144     13,657,115
145    128,012,934
146    293,004,164
147    116,900,694
148      1,113,541
149     40,222,514
150     37,634,615
151    415,004,880
152     70,511,035
153      2,197,331
154        733,094
155    206,852,432
156      1,223,240
157      5,509,040
158      4,711,096
159    170,742,341
160            NaN
161      3,897,569
162     64,616,940
163            NaN
164     67,436,818
165     42,438,300
166            NaN
167    101,157,447
168    197,171,806
169        280,015
170      1,105,564
171     83,008,852
172      4,135,750
173     23,383,987
174        234,723
175            NaN
176            NaN
177            NaN
178      1,229,197
179     12,100,000
180            NaN
181            NaN
182            NaN
183     25,000,000
184            NaN
185            NaN
186         57,226
187         12,562
188            NaN
189         96,568
190         10,177
191      5,014,000
192            NaN
193      5,450,000
194        977,375
195      3,759,854
196      1,241,223
197            NaN
198            NaN
199      2,006,788
200      3,492,754
201        901,610
202    226,277,068
203     14,677,674
204      3,107,072
205            NaN
206        165,520
207     10,616,104
208        923,221
209     59,100,318
210    167,767,189
211            NaN
212     67,209,615
213    356,461,711
214      2,804,874
215     56,671,993
216     26,947,624
217    117,624,028
218     45,055,776
219        857,524
220      1,035,953
221      3,108,485
222     61,002,302
223    154,058,340
224            NaN
225    148,095,302
226    381,011,219
227      1,498,210
228            NaN
229            NaN
230    217,581,231
231     18,354,356
232     74,283,625
233      2,217,561
234    100,492,203
235     23,530,892
236      1,111,061
237      5,820,649
238            NaN
239         14,131
240        300,000
241     70,099,045
242    380,843,261
243    164,615,351
244      5,383,834
245    289,916,256
246            NaN
247         70,147
248    293,506,292
249        259,127
250    125,618,201
251        348,660
252     17,498,804
253      2,734,044
254     16,501,785
255     24,611,975
256        171,082
257        309,811
258            NaN
259      5,535,405
260      4,043,686
261        600,200
262    402,453,882
263     25,010,410
264      5,216,888
265      2,603,061
266     95,860,116
267     52,287,414
268    138,530,565
269      2,181,987
270        495,770
271     13,782,838
272     22,244,207
273            NaN
274      4,971,340
275     32,868,943
276            NaN
277     20,045,115
278     48,979,328
279    117,235,247
280            NaN
281            NaN
282        177,345
283     29,000,000
284     30,933,743
285      1,742,348
286            NaN
287         39,481
288     16,217,773
289            NaN
290        102,021
291         55,908
292            NaN
293      4,050,000
294            NaN
295            NaN
296            NaN
297      1,526,000
298            NaN
299            NaN
300     74,700,000
301            NaN
302        752,045
303            NaN
304     44,908,000
305      9,600,000
306            NaN
307      3,969,893
308            NaN
309        449,191
310     10,900,000
311        203,300
312      4,360,000
313      9,600,000
314    198,676,459
315        172,885
316      4,360,000
317         21,877
318            NaN
319        539,540
320      1,033,895
321            NaN
322            NaN
323            NaN
324            NaN
325      8,178,001
326            NaN
327    151,101,803
328     51,739,495
329    228,433,663
330    341,268,248
331      6,738,000
332      1,506,975
333    132,422,809
334      5,566,534
335      1,079,369
336      1,010,414
337      2,625,803
338     91,125,683
339    333,176,600
340     92,054,159
341     25,568,251
342    216,428,042
343    183,637,894
344     17,738,570
345        100,119
346    138,797,449
347    169,708,112
348    363,070,709
349        106,662
350         10,950
351            NaN
352      4,018,695
353            NaN
354    141,319,928
355    106,954,678
356          8,060
357    623,279,547
358      4,445,756
359     27,298,285
360    163,566,459
361     57,366,262
362    227,471,070
363        238,507
364     74,103,820
365      5,990,075
366            NaN
367    206,445,654
368    167,445,960
369     66,208,183
370        502,028
371      2,380,788
372      2,086,345
373     61,649,911
374      1,787,378
375        169,659
376    305,413,918
377     66,257,002
378    261,441,092
379            NaN
380      1,530,386
381            NaN
382      1,480,006
383     22,455,976
384      4,184,036
385      6,203,044
386        776,665
387      1,647,780
388      5,595,428
389     23,159,305
390          3,296
391     24,475,416
392     13,417,292
393     57,141,459
394        515,905
395     75,082,668
396     70,906,973
397      4,496,583
398     63,895,607
399    217,350,219
400     70,405,498
401    218,967,620
402    184,208,848
403     27,545,445
404    178,800,000
405        553,171
406     30,857,814
407      3,333,969
408      4,542,825
409            NaN
410     38,400,000
411     52,767,889
412            NaN
413     30,177,511
414     39,200,000
415    260,000,000
416     50,000,000
417     86,300,000
418     53,267,000
419    232,906,145
420      4,081,254
421     29,133,000
422     80,500,000
423        541,940
424    102,308,889
425            NaN
426     33,395,426
427    104,945,305
428            NaN
429    163,214,286
430    111,722,000
431     14,500,000
432         50,690
433            NaN
434      8,284,000
435     19,516,000
436     12,535,000
437     11,900,000
438      2,237,659
439     17,570,324
440            NaN
441            NaN
442        654,000
443            NaN
444            NaN
445            NaN
446            NaN
447      8,000,000
448            NaN
449            NaN
450            NaN
451            NaN
452            NaN
453      4,360,000
454     23,650,000
455            NaN
456      2,108,060
457         55,000
458      2,076,020
459            NaN
460            NaN
461      3,270,000
462         50,970
463    165,359,751
464            NaN
465      3,313,513
466      2,000,000
467     18,095,701
468        258,168
469     32,015,231
470      5,202,582
471      5,875,006
472      3,237,118
473    315,058,289
474     32,381,218
475        349,555
476    100,546,139
477    936,662,225
478      8,114,627
479    233,921,534
480        138,730
481     44,671,682
482    100,206,256
483      6,739,492
484      7,000,000
485      2,084,637
486      5,009,677
487      2,122,065
488    115,646,235
489     26,236,603
490        410,800
491     25,379,975
492      1,185,783
493    257,730,019
494      7,757,130
495            NaN
496     13,756,082
497      2,280,348
498    124,987,023
499     21,002,919
500            NaN
501      3,635,164
502    318,412,101
503     13,542,874
504            NaN
505     90,135,191
506    249,358,727
507     53,710,019
508      9,284,265
509      1,059,830
510      1,000,045
511    121,661,683
512      1,221,261
513     35,552,383
514     32,534,850
515      7,220,243
516    245,852,179
517     26,400,640
518            NaN
519      2,201,126
520     12,281,500
521      1,324,974
522            NaN
523     36,948,322
524     56,362,352
525     14,743,391
526     18,254,702
527     76,270,454
528     40,084,041
529      9,929,135
530        188,751
531     20,605,209
532     57,229,890
533     45,700,000
534     37,823,676
535      5,100,000
536     70,600,000
537         61,001
538            NaN
539        198,809
540            NaN
541            NaN
542     61,700,000
543     12,064,472
544         89,029
545     22,276,975
546     24,379,978
547     13,474,588
548            NaN
549     30,000,000
550            NaN
551         88,300
552     93,740,000
553            NaN
554            NaN
555      9,450,000
556      7,630,000
557            NaN
558      2,650,000
559     10,464,000
560      6,540,000
561      9,460,000
562            NaN
563        296,000
564      3,981,000
565      2,537,520
566     10,000,000
567            NaN
568            NaN
569            NaN
570            NaN
571            NaN
572      2,402,067
573    188,373,161
574            NaN
575    169,607,287
576     40,442,052
577            NaN
578     48,023,088
579      1,782,795
580     47,695,120
581        435,266
582    532,177,324
583    408,084,349
584     54,117,416
585    108,101,214
586      6,735,118
587            NaN
588      1,330,596
589      2,852,400
590      4,231,500
591        169,209
592    222,527,828
593     15,322,921
594      1,670,773
595      5,209,580
596    434,038,008
597         85,433
598     45,512,466
599    177,002,924
600     70,259,870
601            NaN
602        128,392
603    102,515,793
604    107,100,855
605          6,460
606    161,197,785
607        547,292
608            NaN
609    258,366,855
610      2,222,647
611     10,095,170
612            NaN
613            NaN
614     93,617,009
615    145,000,989
616      9,030,581
617      9,439,923
618    303,003,568
619        741,283
620     50,927,067
621     35,061,555
622    130,164,645
623    760,507,625
624          3,600
625     50,866,635
626     59,891,098
627     23,637,265
628    127,509,326
629      2,921,738
630          1,305
631     38,405,088
632      5,128,124
633        128,985
634     25,514,517
635    119,519,402
636         15,280
637     81,001,787
638     16,756,372
639        181,655
640      7,002,255
641            NaN
642     54,234,062
643      2,892,011
644    115,654,751
645    128,078,872
646      8,264,530
647    233,632,142
648         25,812
649     28,965,197
650     32,481,825
651    267,665,011
652    659,325,379
653        233,986
654     12,339,633
655     48,323,648
656      4,040,691
657      5,887,457
658      9,170,214
659     56,505,065
660     32,416,586
661     22,954,968
662      1,769,305
663    183,875,760
664     17,266,971
665      5,617,391
666            NaN
667      2,015,810
668      1,999,955
669     57,504,069
670     61,276,872
671     52,096,475
672            NaN
673     26,830,000
674            NaN
675    118,500,000
676     34,603,943
677     59,735,548
678      5,923,044
679     70,136,369
680      1,436,000
681     61,503,218
682     98,467,863
683     45,875,171
684     34,700,291
685    238,632,124
686     21,500,000
687      2,500,000
688    435,110,554
689    106,260,000
690            NaN
691     31,800,000
692            NaN
693      4,420,000
694        193,817
695     16,056,255
696            NaN
697     42,765,000
698      4,000,000
699     44,785,053
700     17,550,741
701     56,700,000
702            NaN
703     72,000,000
704    102,272,727
705     39,100,000
706            NaN
707      2,616,000
708        336,705
709            NaN
710            NaN
711            NaN
712            NaN
713            NaN
714            NaN
715            NaN
716      4,360,000
717            NaN
718            NaN
719            NaN
720            NaN
721        335,609
722    324,591,735
723     33,800,859
724    176,040,665
725    220,159,104
726      3,358,518
727      3,333,000
728        765,127
729     35,893,537
730    128,261,724
731    124,872,350
732      6,743,776
733     42,340,598
734      2,199,675
735      1,122,527
736        175,058
737    259,766,572
738        985,912
739     17,654,912
740    189,422,889
741      1,339,152
742         71,177
743     56,816,662
744    257,760,692
745    274,092,705
746    228,778,661
747         83,861
748     96,962,694
749    146,408,305
750    277,322,503
751    304,360,277
752    132,092,958
753    136,025,503
754     32,391,374
755    295,983,305
756     15,090,400
757     18,593,156
758        881,302
759     35,739,802
760      1,752,214
761            NaN
762            NaN
763        327,919
764     25,442,958
765        412,544
766     17,605,861
767     33,080,084
768     22,494,487
769      1,054,361
770        871,577
771    200,821,936
772      4,398,392
773     83,043,761
774     53,606,916
775     54,580,300
776     17,108,591
777    176,241,941
778      1,082,715
779     75,331,600
780     44,585,453
781    290,013,036
782     77,911,774
783     75,286,229
784    111,110,575
785      4,890,878
786      4,064,200
787     15,539,266
788     40,311,852
789     22,245,861
790    108,638,745
791    104,454,762
792        141,072
793     21,995,263
794      3,029,081
795    183,417,150
796        151,086
797     45,512,588
798            NaN
799     52,037,603
800     10,824,921
801      2,807,390
802     76,631,907
803     17,105,219
804        368,234
805     22,858,926
806    148,478,011
807     63,540,020
808      4,065,116
809     41,909,762
810     35,811,509
811     56,116,183
812      4,414,535
813     10,019,307
814            NaN
815     21,848,932
816      3,151,130
817      6,110,979
818     77,324,422
819     27,281,507
820     48,169,908
821     75,505,856
822            NaN
823     10,725,228
824    141,340,178
825     82,418,501
826      6,153,939
827      5,080,409
828    156,452,370
829            NaN
830      1,544,889
831     43,984,230
832     22,238,696
833      7,153,487
834      8,551,228
835     10,631,333
836     10,600,000
837     11,798,616
838     54,000,000
839     78,912,963
840     47,212,904
841     54,800,000
842     83,400,000
843            NaN
844     47,000,000
845      1,924,733
846            NaN
847            NaN
848    119,500,000
849     29,800,000
850     25,000,000
851      7,056,013
852     15,630,710
853     35,900,000
854            NaN
855     44,527,234
856     45,300,000
857         26,331
858     28,350,000
859            NaN
860            NaN
861     51,081,062
862     11,403,529
863            NaN
864         83,957
865      4,905,000
866         52,709
867            NaN
868            NaN
869            NaN
870            NaN
871     10,550,000
872            NaN
873        536,118
874            NaN
875     76,408,097
876            NaN
877            NaN
878     26,020,957
879    142,502,728
880        566,356
881      5,904,366
882            NaN
883     24,801,212
884     13,122,642
885            NaN
886        845,464
887    389,813,101
888    107,825,862
889     18,340,051
890     72,313,754
891    608,581,744
892    248,757,044
893     46,889,293
894    109,767,581
895      1,092,800
896     26,862,450
897     37,707,719
898    208,545,589
899            NaN
900      4,105,123
901     41,003,371
902     19,202,743
903    215,288,866
904    171,243,005
905      1,008,098
906    251,513,985
907     35,014,192
908     48,071,303
909            NaN
910     75,605,492
911      3,185,812
912     75,590,286
913            NaN
914    209,028,679
915    255,959,475
916      9,422,422
917     69,951,824
918     17,114,882
919     38,634,938
920        686,383
921     88,513,495
922     20,300,218
923     10,301,706
924     24,633,730
925     39,868,642
926          6,013
927    301,959,197
928    210,614,939
929     23,089,926
930    107,509,799
931     24,149,632
932     56,000,369
933      3,081,925
934        697,181
935        548,707
936      6,167,817
937      5,739,376
938     16,290,476
939         45,289
940     51,680,613
941     13,060,843
942     57,938,693
943     45,064,915
944            NaN
945     52,364,010
946     13,622,333
947    317,575,550
948     96,522,687
949     52,990,775
950     51,401,758
951    132,072,926
952     50,668,906
953     15,070,285
954      7,267,585
955     36,400,491
956    120,620,254
957     10,680,275
958            NaN
959     14,378,331
960     49,100,000
961      3,796,699
962     43,182,776
963    100,012,499
964      1,037,847
965     71,516,617
966    173,837,933
967      1,464,625
968     40,903,593
969      7,993,039
970     52,929,168
971        453,243
972      1,794,187
973    285,761,243
974     66,666,062
975     92,823,600
976    111,543,479
977     78,756,177
978     49,530,280
979     65,207,127
980      2,150,000
981    119,285,432
982     12,465,371
983     22,490,039
984     76,657,000
985     43,000,000
986            NaN
987     35,000,000
988    132,088,635
989        959,000
990        696,690
991      1,378,435
992    141,843,612
993            NaN
994     13,780,024
995            NaN
996            NaN
997     30,500,000
998            NaN
999            NaN
Name: Gross, dtype: object>

In [27]:
# Grouping the movies and looking at 
genre_group = movies_df.groupby('Genre').agg({'IMDB_Rating': 'mean', 'Gross': 'sum'})
print(genre_group)

                              IMDB_Rating  \
Genre
Action, Adventure                8.180000
Action, Adventure, Biography     7.900000
Action, Adventure, Comedy        7.910000
Action, Adventure, Crime         7.600000
Action, Adventure, Drama         8.150000
...                                   ...
Mystery, Romance, Thriller       8.300000
Mystery, Sci-Fi, Thriller        7.800000
Mystery, Thriller                7.977778
Thriller                         7.800000
Western                          8.350000

                                                                          Gross
Genre
Action, Adventure             248,159,971448,139,099197,171,806206,852,43247...
Action, Adventure, Biography                                                  0
Action, Adventure, Comedy     1,033,895363,070,709333,176,6008,178,00157,229...
Action, Adventure, Crime                                                      0
Action, Adventure, Drama      377,845,905315,544,750342,551,365269,061187,70...
...                                                                         ...
Mystery, Romance, Thriller                                            3,200,000
Mystery, Sci-Fi, Thriller                                  57,141,45914,378,331
Mystery, Thriller             36,764,31325,544,867128,012,9341,035,9534,081,...
Thriller                                                             17,550,741
Western                                  6,100,0005,321,50815,000,00031,800,000

[202 rows x 2 columns]

In [29]:
# String cleaning
movies_df['Genre'] = movies_df['Genre'].str.strip().str.lower()
print(movies_df['Genre'].head())

Rank
1                   drama
2            crime, drama
3    action, crime, drama
4            crime, drama
5            crime, drama
Name: Genre, dtype: object

In [28]:
movies_df.duplicated().sum()

0

In [30]:
# correcting data types
movies_df['Gross'] = movies_df['Gross'].str.replace(',', '').astype(float)
movies_df

,Series_Title,Poster_Link,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
Rank,,,,,,,,,,,,,,,,
1,The Shawshank Redemption,https://m.media-amazon.com/images/M/MV5BMDFkYT...,1994,A,142 min,drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,28341469.0
2,The Godfather,https://m.media-amazon.com/images/M/MV5BM2MyNj...,1972,A,175 min,"crime, drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,134966411.0
3,The Dark Knight,https://m.media-amazon.com/images/M/MV5BMTMxNT...,2008,UA,152 min,"action, crime, drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,534858444.0
4,The Godfather: Part II,https://m.media-amazon.com/images/M/MV5BMWMwMG...,1974,A,202 min,"crime, drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,57300000.0
5,12 Angry Men,https://m.media-amazon.com/images/M/MV5BMWU4N2...,1957,U,96 min,"crime, drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,4360000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,Zombieland,https://m.media-amazon.com/images/M/MV5BMTU5MD...,2009,A,88 min,"adventure, comedy, fantasy",7.6,A shy student trying to reach his family in Oh...,73.0,Ruben Fleischer,Jesse Eisenberg,Emma Stone,Woody Harrelson,Abigail Breslin,520041,75590286.0
912,La piel que habito,https://m.media-amazon.com/images/M/MV5BYmFmNj...,2011,R,120 min,"drama, horror, thriller",7.6,"A brilliant plastic surgeon, haunted by past t...",70.0,Pedro Almodóvar,Antonio Banderas,Elena Anaya,Jan Cornet,Marisa Paredes,138959,3185812.0
911,Moneyball,https://m.media-amazon.com/images/M/MV5BMjAxOT...,2011,PG-13,133 min,"biography, drama, sport",7.6,Oakland A's general manager Billy Beane's succ...,87.0,Bennett Miller,Brad Pitt,Robin Wright,Jonah Hill,Philip Seymour Hoffman,369529,75605492.0
910,Celda 211,https://m.media-amazon.com/images/M/MV5BMjI2OD...,2009,NaN,113 min,"action, adventure, crime",7.6,The story of two men on different sides of a p...,NaN,Daniel Monzón,Luis Tosar,Alberto Ammann,Antonio Resines,Manuel Morón,63882,NaN
1000,The 39 Steps,https://m.media-amazon.com/images/M/MV5BMTY5OD...,1935,NaN,86 min,"crime, mystery, thriller",7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,NaN

In [ ]:
movies_df['Released_Year'] = pd.to_datetime(movies_df['Released_Year'])
movies_df['Released_Year'] = movies_df['Released_Year'].dt.year

Merging Files example

In [43]:
# loading new datasets
df1 = pd.read_csv("tmdb_5000_credits.csv")
df2 = pd.read_csv("tmdb_5000_movies.csv")
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4803 non-null   int64
 1   title     4803 non-null   object
 2   cast      4803 non-null   object
 3   crew      4803 non-null   object
dtypes: int64(1), object(3)
memory usage: 150.2+ KB

In [44]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

In [46]:
df1.columns = ['id', 'title', 'cast', 'crew']
df2 = df2.merge(df1, on='id')
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 26 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title_x               4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
 20  title_y               4803 non-null   object
 21  cast_x                4803 non-null   object
 22  crew_x                4803 non-null   object
 23  title                 4803 non-null   object
 24  cast_y                4803 non-null   object
 25  crew_y                4803 non-null   object
dtypes: float64(3), int64(4), object(19)
memory usage: 975.7+ KB

In [47]:
# Look at the new data
df2.head(5)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,tagline,title_x,vote_average,vote_count,title_y,cast_x,crew_x,title,cast_y,crew_y
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,Enter the World of Pandora.,Avatar,7.2,11800,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,A Plan No One Escapes,Spectre,6.3,4466,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,The Legend Ends,The Dark Knight Rises,7.6,9106,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,"Lost in our world, found in another.",John Carter,6.1,2124,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [52]:
# look at mean voting average
c = df2['vote_average'].mean()
c
#so most movies in this list is approx a 6 out of 10 rating

6.092171559442016

In [54]:
# lets get only movies that have a certain number of votes so movies with only 3 votes aren't included
m = df2['vote_count'].quantile(0.9)
qualify_movies = df2.copy().loc[df2['vote_count'] >= m] # make a new DataFrame
qualify_movies.shape #481 movies out of the 5000 movies qualify

(481, 26)

In [58]:
def weighted_rating(x, m=m, c=c):
    v = x['vote_count']
    R = x['vote_average']
    # Calculation based on the IMDB formula
    return (v/(v+m) * R) + (m/(m+v) * c)

qualify_movies['score'] = qualify_movies.apply(weighted_rating, axis=1)
qualify_movies = qualify_movies.sort_values('score', ascending=False)
qualify_movies[['title', 'vote_count', 'vote_average', 'score']].head(10)

,title,vote_count,vote_average,score
1881,The Shawshank Redemption,8205,8.5,8.059258
662,Fight Club,9413,8.3,7.939256
65,The Dark Knight,12002,8.2,7.920020
3232,Pulp Fiction,8428,8.3,7.904645
96,Inception,13752,8.1,7.863239
3337,The Godfather,5893,8.4,7.851236
95,Interstellar,10867,8.1,7.809479
809,Forrest Gump,7927,8.2,7.803188
329,The Lord of the Rings: The Return of the King,8064,8.1,7.727243
1990,The Empire Strikes Back,5879,8.2,7.697884